.form-row {
    min-width: 150% !important;
}

#companyForm {
    display: none;
    padding: 50px;
    max-width: 1100px !important;
    min-width: 1100px !important;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    top: 330px !important;
    z-index: 1; /* Sit on top */
    opacity: 1;
    background-color: gray;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.8s
}

.companyPart {
    margin: 70px !important;
    flex: 1 !important;
    width: 50px !important
}

.connectionPart {
    margin: 70px !important;
    flex: 1 !important;
    width: 50px !important;
}

.other {
    flex: 1;
    width: 50%;
}



#userForm {
    opacity: 1;
    padding: 20px;
    display: none;
    top: 330px !important;
    max-width: 1100px !important;
    min-width: 1100px !important;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.8s
}

.auth {
    flex: 1;
    margin: 70px !important;
    padding-left: 10px !important;
}

.auth {
    margin: 10px !important;
    width: 50%;
    margin: 70px !important;
}

.grid {
    min-height: 100px !important;
    max-height: 100px !important;
}



@keyframes animatetop {

    from {
        top: -300px;
    }

    to {
        top: 300px;
        opacity: 1 !important;
    }
}
