body {
}


#save{
   font-size: larger;
}

#permisionSettings {
margin:10px;
width:400px;
justify-content:center;
border: solid;
border-color: black;
border-width: thick;
margin-bottom:10px;
}

#registration {
    justify-content: center;
    position:absolute;
    top: 50px;
    right:10px;
    float: right;
    margin: 20px;
    border:solid;
    border-color: black;
    border-width:thick;
    margin-right: 10px;
    margin-left:10px;
    width: 500px;

}

#company {
    position:absolute;
    top:50px;
    right: 600px;
    margin-top: 10px;
    width: 400px;
    justify-content: center;
    border: solid;
    border-color: black;
    border-width: thick;
    margin-bottom: 10px;
}

#registrationButton {
    font-size: larger;
}




