body {
    margin: 0;
    font-family: Arial;
    background-color: #f2f2f2;
    color: black;
    
}

.box {
    color: #fff;
    padding: 1em;
    text-align: center;
    background-color: #efefef;
    text-align: left;
}

.tweets {
    background-color: wheat;
    color: black;
    text-align: left;
    font-size:larger;
}

.replies {
    background-color: wheat;
    color: black;
    text-align: left;
    font-size: larger;
}

.search {
    background-color: wheat;
    color: black;
    text-align: left;
    font-size: larger;
}

.messages {
    background-color: wheat;
    color: black;
    font-size: larger;
    text-align: left;
}

/* Our Grid Code */
.app-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100vh;
}

/* try to resize the screen */
@media screen and (max-width: 1024px) {
    .app-layout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50vh 50vh;
    }
}


.save, .registrationButton, .companyButton, .delete, .deleteCompany, .companyButtonDestroy, .completelyNewUser {
    margin: auto;
    background-color: black;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    text-align: center;
    font-size: 10px;
    padding: 20px;
    width: 200pxs -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.save:hover, .registrationButton:hover, .companyButton:hover, .delete:hover, .deleteCompany:hover {
    background-color: yellow;
    color:black;
}