<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="Skaza" connectionString="Data Source=172.17.1.38\TNETTEST; Database=PA_PlastikaSkaza;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;" />
		<add name="PetPak" connectionString="Data Source=10.100.100.25\SPLAHOST; Database=graphs;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;" />
		<add name="Skaza nova" connectionString="Data Source=172.17.1.38\TNETTEST; Database=PA_PlastikaSkaza_1;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;" />
		<add name="eHolding Centralna Baza" connectionString="Data Source=172.17.1.38\TNETTEST; Database=PA_eHolding_Centralna_baza;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;" />
		<add name="eHolding ERFA" connectionString="Data Source=172.17.1.38\TNETTEST; Database=PA_eHolding_Efra;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;" />
		<add name="test" connectionString="Data Source=172.17.1.38\TNETTEST;Initial Catalog=PA_eHolding_Efra;Integrated Security=False;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;Application Name=Dashboard" />
		<add name="graphsConnectionString" connectionString="Data Source=10.100.100.25\SPLAHOST;Initial Catalog=Development;Persist Security Info=True;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;TransparentNetworkIPResolution=False;"
		  providerName="System.Data.SqlClient" />
		<add name="PetPakProdukcija" connectionString="Data Source=10.100.100.25\SPLAHOST;Initial Catalog=PA_PetPak;Persist Security Info=True;User ID=petpakdash;Password=iamonlya8bitcpu:(123" />
		<add name="databasetesting" connectionString="Data Source=10.100.100.25/SPLAHOST;Initial Catalog=zenasdashboard;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L" />
		<add name="TCMOTOSHOP" connectionString="Data Source=195.206.229.36,5433;Initial Catalog=TCMOTOSHOP;User ID=inmoto;Password=K4-?JuqJd97eXu4c" />
		<add name="PetPakTest" connectionString="Data Source=10.100.100.25\SPLAHOST;Initial Catalog=PA_PetPak;Persist Security Info=True;User ID=petpakgraph;Password=iamonlya8bitcpu:(123" />
		<add name="Soltec" connectionString="Data Source=89.142.168.106,1433;Initial Catalog=datalab;User ID=analitika;Password=EKvDt*Nt+rC7w9UA" />
		<add name="SOLTEC PRODUKCIJA" connectionString="Data Source=89.142.168.106,1433;Initial Catalog=datalab;User ID=analitika;Password=EKvDt*Nt+rC7w9UA" />
		<add name="Testing" connectionString="Data Source=172.17.1.38\TNETTEST;Initial Catalog=PA_PlastikaSkaza;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L" />
	</connectionStrings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
	<system.web>
		
		<compilation debug="true" targetFramework="4.5.2">
			<assemblies>
				
				<add assembly="DevExpress.Data.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.ASPxThemes.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.RichEdit.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Printing.v21.1.Core, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add assembly="DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			</assemblies>
		</compilation>
		<authentication mode="Forms">
			<forms name=".ASPNETAUTH" loginUrl="home.aspx" defaultUrl="default.aspx"
			  protection="All" timeout="20" path="/" />
		</authentication>
		<authorization>
			<allow users="?" />
		</authorization>
		<profile>
			<providers>
				<clear />
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</profile>
		<roleManager enabled="false">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<httpHandlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" validate="false" />
		</httpHandlers>
		
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</httpModules>
		<globalization culture="" uiCulture="" />
		<httpRuntime maxRequestLength="4096" requestValidationMode="4.0" executionTimeout="110" targetFramework="4.5" />
		<pages validateRequest="true" clientIDMode="Predictable">
			<namespaces>
				<add namespace="System.Web.Optimization" />
			</namespaces>
			<controls>
				<add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
				<add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms"
		 assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
			</controls>
		</pages>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
		</modules>
		<handlers>
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v21.1, Version=21.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
		</handlers>
		<validation validateIntegratedModeConfiguration="false" />
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="30000000" />
			</requestFiltering>
		</security>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<devExpress>
		<resources>
			<add type="ThirdParty" />
			<add type="DevExtreme" />
		</resources>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="MaterialCompact" customThemeAssemblies="" baseColor="#F78119" font="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings accessibilityCompliant="true" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>

	<appSettings>
		<add key="vs:EnableBrowserLink" value="false" />
	</appSettings>
</configuration>