<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="bootstrap" type="DevExpress.Web.Bootstrap.BootstrapConfigurationSection, DevExpress.Web.Bootstrap.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<configProtectedData />
	<system.diagnostics />
	<system.windows.forms />
	<uri />
	<connectionStrings>
  <add name="graphsConnectionString" connectionString="Data Source=10.100.100.25\SPLAHOST;Initial Catalog=Analytics_IN_SIST_NEW_CURRENT;Persist Security Info=True;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;TransparentNetworkIPResolution=False;"
   providerName="System.Data.SqlClient" />
  <add name="Skaza" connectionString="Data Source=172.17.1.38\TNETTEST; Database=PA_PlastikaSkaza;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;"
   providerName="System.Data.SqlClient" />
  <add name="PetPak" connectionString="Data Source=10.100.100.25\SPLAHOST;Initial Catalog=PA_PetPak;Persist Security Info=True;User ID=petpakgraph;Password=iamonlya8bitcpu:(123"
   providerName="System.Data.SqlClient" />
  <add name="Skaza nova" connectionString="Data Source=172.17.1.38\TNETTEST; Database=PA_PlastikaSkaza_1;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;"
   providerName="System.Data.SqlClient" />
  <add name="eHolding Centralna Baza" connectionString="Data Source=172.17.1.38\TNETTEST; Database=PA_eHolding_Centralna_baza;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;"
   providerName="System.Data.SqlClient" />
  <add name="eHolding ERFA" connectionString="Data Source=172.17.1.38\TNETTEST; Database=PA_eHolding_Efra;Application Name=Dashboard;Integrated Security=false;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;"
   providerName="System.Data.SqlClient" />
  <add name="test" connectionString="Data Source=172.17.1.38\TNETTEST;Initial Catalog=PA_eHolding_Efra;Integrated Security=False;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L;Application Name=Dashboard"
   providerName="System.Data.SqlClient" />
  <add name="PetPakProdukcija" connectionString="Data Source=10.100.100.25\SPLAHOST;Initial Catalog=PA_PetPak;User ID=petpakdash"
   providerName="System.Data.SqlClient" />
  <add name="databasetesting" connectionString="Data Source=10.100.100.25/SPLAHOST;Initial Catalog=zenasdashboard;User ID=dashboards;Password=Cporje?%ofgGHH$984d4L"
   providerName="System.Data.SqlClient" />
  <add name="TCMOTOSHOP" connectionString="Data Source=195.206.229.36,5433;Initial Catalog=TCMOTOSHOP;User ID=inmoto;Password=K4-?JuqJd97eXu4c"
   providerName="System.Data.SqlClient" />
  <add name="PetPakTest" connectionString="Data Source=10.100.100.25\SPLAHOST;Initial Catalog=PA_PetPak;Persist Security Info=True;User ID=petpakgraph;Password=iamonlya8bitcpu:(123"
   providerName="System.Data.SqlClient" />
  <add name="Soltec" connectionString="Data Source=89.142.168.106,1433;Initial Catalog=datalab;User ID=analitika;Password=EKvDt*Nt+rC7w9UA"
   providerName="System.Data.SqlClient" />
  <add name="Insist PA" connectionString="Data Source=172.17.1.38;Initial Catalog=PA_INSIST;User ID=in_analitika;Password=net321tnet!"
   providerName="System.Data.SqlClient" />
  <add name="SOLTEC PRODUKCIJA" connectionString="Data Source=89.142.168.106,1433;Initial Catalog=datalab;User ID=analitika;Password=EKvDt*Nt+rC7w9UA"
   providerName="System.Data.SqlClient" />
  <add name="SkiSea" connectionString="Data Source=93.103.133.32,1433;Initial Catalog=Datalab;User ID=inanalytics;Password=7j59@2Qa6Q*!!k&amp;Hy?"
   providerName="System.Data.SqlClient" />
  <add name="DAPZ" connectionString="Data Source=10.100.100.45\SPLAHOST;Initial Catalog=PA_DAPZ;User ID=padapz;Password=vIzF28h1$edm" />
  <add name="Metal product" connectionString="Data Source=172.17.1.77\CROATIAN,1500;Initial Catalog=PA_METAL_PRODUCT;User ID=metalweb" />
  <add name="Metal product - produkcija" connectionString="Data Source=192.168.0.240,51537;Initial Catalog=PA_METAL_PRODUCT;User ID=sa;Password=ZutoCrno97;" />
 </connectionStrings>
	<log4net debug="true">
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
   <file value="C:\Users\jankoj\Desktop\Work\stabile\DASHBOARDS\Log\log.txt" />
   <appendToFile value="true" />
   <rollingStyle value="Size" />
   <maxSizeRollBackups value="10" />
   <maximumFileSize value="500MB" />
   <staticLogFileName value="true" />
   <layout type="log4net.Layout.PatternLayout">
    <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
   </layout>
  </appender>
  <root>
   <level value="DEBUG" />
   <appender-ref ref="RollingLogFileAppender" />
  </root>
 </log4net>
	<system.web>
		<customErrors defaultRedirect="~/Home.aspx" mode="Off">
   <error statusCode="500" redirect="~/Home.aspx" />
  </customErrors>
		<anonymousIdentification />
		<clientTarget />
		<deviceFilters />
		<fullTrustAssemblies />
		<healthMonitoring />
		<hostingEnvironment />
		<httpCookies />
		<identity />
		<machineKey />
		<membership />
		<mobileControls />
		<partialTrustVisibleAssemblies />
		<securityPolicy />
		<sessionPageState />
		<sessionState timeout="525600" />
		<siteMap />
		<trace />
		<trust level="Full" />
		<urlMappings />
		<webControls clientScriptsLocation="/aspnet_client/{0}/{1}/" />
		<webParts />
		<webServices>
   <wsdlHelpGenerator href="DefaultWsdlHelpGenerator.aspx" />
  </webServices>
		<xhtmlConformance />
		<compilation debug="true" targetFramework="4.5.2">
   <assemblies>
    <add assembly="DevExpress.Data.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <add assembly="DevExpress.Drawing.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <add assembly="DevExpress.Web.ASPxThemes.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <add assembly="DevExpress.RichEdit.v24.1.Core, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <add assembly="DevExpress.Printing.v24.1.Core, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <add assembly="DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
   </assemblies>
  </compilation>
		<authentication mode="Forms">
   <forms name=".ASPNETAUTH" loginUrl="Home.aspx" defaultUrl="Home.aspx"
    protection="All" timeout="20" path="/" />
  </authentication>
		<authorization>
   <allow users="?" />
  </authorization>
		<profile>
   <providers>
    <clear />
    <add connectionStringName="ApplicationServices" applicationName="/"
     name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" />
   </providers>
  </profile>
		<roleManager enabled="false">
   <providers>
    <clear />
    <add connectionStringName="ApplicationServices" applicationName="/"
     name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
    <add applicationName="/" name="AspNetWindowsTokenRoleProvider"
     type="System.Web.Security.WindowsTokenRoleProvider" />
   </providers>
  </roleManager>
		<httpHandlers>
   <add path="ASPxUploadProgressHandlerPage.ashx" verb="GET,POST"
    type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    validate="false" />
   <add path="DX.ashx" verb="GET,POST" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    validate="false" />
  </httpHandlers>
		<httpModules>
   <add name="ASPxHttpHandlerModule" type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
  </httpModules>
		<globalization culture="" uiCulture="" />
		<httpRuntime executionTimeout="110" maxRequestLength="4096" requestValidationMode="4.0"
   targetFramework="4.5" />
		<pages enableViewState="false" validateRequest="true" clientIDMode="Predictable">
   <namespaces>
    <add namespace="System.Web.Optimization" />
   </namespaces>
   <controls>
    <add tagPrefix="dx" namespace="DevExpress.Web" assembly="DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
    <add tagPrefix="webopt" namespace="Microsoft.AspNet.Web.Optimization.WebForms"
     assembly="Microsoft.AspNet.Web.Optimization.WebForms" />
   </controls>
  </pages>
		<caching>
			<cache />
			<outputCache />
			<outputCacheSettings />
			<sqlCacheDependency />
		</caching>
	</system.web>
	<system.webServer>
  <!-- Default Document Configuration -->
  <defaultDocument>
   <files>
    <clear />
    <add value="Home.aspx" />
   </files>
  </defaultDocument>
  <!-- HTTP Compression -->
  <httpCompression>
   <dynamicTypes>
    <add mimeType="text/*" enabled="true" />
    <add mimeType="application/javascript" enabled="true" />
   </dynamicTypes>
  </httpCompression>
  <!-- Modules -->
  <modules runAllManagedModulesForAllRequests="true">
   <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    name="ASPxHttpHandlerModule" />
  </modules>
  <!-- Handlers -->
  <handlers>
   <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler"
    preCondition="integratedMode" />
   <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v24.1, Version=24.1.6.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
    verb="GET,POST" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
  </handlers>
  <!-- Security -->
  <security>
   <requestFiltering>
    <hiddenSegments>
     <remove segment="App_Data" />
    </hiddenSegments>
    <requestLimits maxAllowedContentLength="30000000" />
   </requestFiltering>
  </security>
  <!-- Validation -->
  <validation validateIntegratedModeConfiguration="false" />
 </system.webServer>

	<runtime>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
   <dependentAssembly>
    <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
    <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
   </dependentAssembly>
   <dependentAssembly>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
    <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
   </dependentAssembly>
   <dependentAssembly>
    <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
    <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
   </dependentAssembly>
   <dependentAssembly>
    <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51"
     culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
   </dependentAssembly>
   <dependentAssembly>
    <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51"
     culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
   </dependentAssembly>
   <dependentAssembly>
    <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
     publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
   </dependentAssembly>
  </assemblyBinding>
 </runtime>
	<devExpress>
		<resources>
   <add type="ThirdParty" />
   <add type="DevExtreme" />
  </resources>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="MaterialCompact"
   customThemeAssemblies="" baseColor="#F78119" font="" />
		<compression enableHtmlCompression="true" enableCallbackCompression="true"
   enableResourceCompression="true" enableResourceMerging="true" />
		<settings accessibilityCompliant="true" doctypeMode="Html5" rightToLeft="false"
   checkReferencesToExternalScripts="true" protectControlState="true"
   ieCompatibilityVersion="edge" />
		<errors callbackErrorRedirectUrl="" />
		<bootstrap allowClientObjectDeferredInitialization="true" mode="Bootstrap4"
   iconSet="Embedded" />
	</devExpress>
	<appSettings>
  <add key="vs:EnableBrowserLink" value="false" />
  <add key="version" value="0.0.3" />
  <add key="email" value="jankojovicic351@gmail.com" />
  <add key="username" value="jankojovicic351@gmail.com" />
  <add key="password" value="edtstqntgzlaszcr" />
 </appSettings>
	<system.net>
		<authenticationModules />
		<connectionManagement />
		<defaultProxy />
		<requestCaching />
		<settings />
		<webRequestModules />
		<mailSettings>
			<smtp />
		</mailSettings>
	</system.net>
	<system.runtime.caching>
		<memoryCache />
	</system.runtime.caching>
	<system.runtime.serialization>
		<dataContractSerializer />
	</system.runtime.serialization>
	<system.serviceModel>
		<behaviors />
		<bindings />
		<client />
		<comContracts />
		<diagnostics />
		<extensions />
		<protocolMapping />
		<routing />
		<serviceHostingEnvironment />
		<services />
		<standardEndpoints />
		<tracking />
	</system.serviceModel>
	<system.serviceModel.activation>
		<diagnostics />
		<net.pipe />
		<net.tcp />
	</system.serviceModel.activation>
	<system.transactions>
		<defaultSettings />
	</system.transactions>
	<system.web.extensions>
		<scripting>
			<scriptResourceHandler />
			<webServices>
				<authenticationService />
				<jsonSerialization />
				<profileService />
				<roleService />
			</webServices>
		</scripting>
	</system.web.extensions>
	<system.xaml.hosting>
		<httpHandlers />
	</system.xaml.hosting>
	<system.xml.serialization>
		<dateTimeSerialization />
		<schemaImporterExtensions />
		<xmlSerializer />
	</system.xml.serialization>
</configuration>
<!--ProjectGuid: F261F01B-7819-436D-9CDD-6B49F8A2BC37-->