/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.jumbotron {
width: 100%; }
.container.body-content {
    width: 100%;
}

.formCenter {
margin: 0 auto; 
}

.nav.navbar-nav {
float: right; 
}

#cmdSignOut, #admin {
    float: right;
    background: #000000;
    color: #ffffff;
    margin-top: 11px;
    border: 1px solid;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
}

#list {

    position:center;
}


#users {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}



#admin {
    float: right;
    background: #000000;
    color: #ffffff;
    margin-top: 11px;
    border: 1px solid;
    border-radius: 13px;
    padding-left: 10px;
    padding-right: 10px;
}